<main class="main">
  <article class="main__sayNumber">
      <h2 class="main__say__title">Adivina el Número</h2>
      <div >
        
      </div>
  </article>
  <article class="main__introduceNumber">
    <h3 class="main__introduce__title">Introduce un número</h3>
    <form class="main__introduce__form">
      <input class="main__number introduce__number__js" type="number" placeholder="Introduce un número...">
      <input class="main__button__try button__try__js" type="submit" value="Prueba">
      <input class="main__button__reset button__reset__js"type="button" value="Reset">
    </form>
    <div class="main__container__try">
      <span class="main__numbertry__js">Escribe un número y dale a prueba</span>
      <div class="main__counter__account">
        <span class="main__try__title">Intentos</span>
        <span class="main__try__counter-js">0</span>
      </div>
    </div>
  </article>
</main>
